/*
*  Styling of Banner Layout
*/
div.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px; 0px;
}

div.banner-center {
  font-size:26px;
}

div.banner-bottom {
  font-size:20px;
  text-align: center;
}


/*
*  Styling of Table without any borders
*/
table.cleartable {
	margin: 1em 0em;
	background: #fff;
	border: 1px #333 solid;
	border-collapse: collapse;
}
.cleartable th {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	border: 1px #333 solid;
	padding: 0em 0.4em;
}
.cleartable tr {
	vertical-align: top;
	text-align: left;
}
.cleartable td {
	border: 1px #333 solid;
	padding: 0em 0.4em;
}
.cleartable caption {
	font-weight: bold;
}


/*
*  Styling of 'gallery' layout of list of images
*/
.gallery img {
    margin-right: 4px;
    margin-bottom: 4px;
}


/*
*  greytable class for skinning tables with shades of grey
*/
table.greytable {
	margin: 1em 0em;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}
.greytable th {
	vertical-align: top;
	background: #f2f2f2;
	text-align: left;
	font-weight: bold;
	border: 1px #aaa solid;
	padding: 0em 0.4em;
}
.greytable tr {
	vertical-align: top;
	background: #f9f9f9;
	text-align: left;
}
.greytable td {
	border: 1px #aaa solid;
	padding: 0em 0.4em;
}
.greytable caption {
	font-weight: bold;
}


/*
*  Overarching style for Grid Layout.
*  Individual grid cells are styled using 'panel' class defined in panel.css
*/
div.grid {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 10px; -> would be preferrable solution, but is not supported by IE, thus use margins below */

  /* For Internet Explorer 10 and 11 -> using old specification, not compatible with current one */
	display: -ms-grid;
	-ms-grid-columns: (1fr)[2];
}


/*
 * Space grid items. Preferrably grid-gap should be used, but since it is not supported by IE, use margins
 */
div.grid > .panel {
	margin: 5px;
}


/*
*  Styling of tables on the Help Pages
*/
table.helptable {
  background-color: #f8f9fa;
}

table.helptable th {
  width:200px;
  text-align:right;
  padding-right: 10px;
}


/*
 * Infobox template style
 */
.infobox {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	color: black;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	float: right;
	clear: right;
}
.infobox td,
.infobox th {
	vertical-align: top;
}
.infobox caption {
	font-size: larger;
}
.infobox.bordered {
	border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
	border: 1px solid #aaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
	border: 0;
}

.infobox.sisterproject {
	width: 20em;
	font-size: 90%;
}

.infobox.standard-talk {
	border: 1px solid #c0c090;
	background-color: #f8eaba;
}
.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
	border: 1px solid #c0c090;
}

/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
	border: 0;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
	border: 0;
	border-right: 1px solid #aaa;
}

/* Styles for geography infoboxes, eg countries,
	country subdivisions, cities, etc.	*/
.infobox.geography {
	text-align: left;
	border-collapse: collapse;
	line-height: 1.2em;
	font-size: 90%;
}

.infobox.geography  td,
.infobox.geography  th {
	border-top: solid 1px #aaa;
	padding: 0.4em 0.6em 0.4em 0.6em;
}
.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {
	border-top: solid 1px #aaa;
	padding: 0.4em 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedrow td,
.infobox.geography .mergedrow th {
	border: 0;
	padding: 0 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedbottomrow td,
.infobox.geography .mergedbottomrow th {
	border-top: 0;
	border-bottom: solid 1px #aaa;
	padding: 0 0.6em 0.4em 0.6em;
}

.infobox.geography .maptable td,
.infobox.geography .maptable th {
	border: 0;
	padding: 0;
}

@media (max-width: 1000px) {
	.infobox {
		display: none;
	}
}


/*
 * Fixes to display 'Submit' buttons generated by MediaWiki formlink parser function looks like other buttons in navigator
 */
 .infobox form {
 	height: 3px;
 }

.infobox form button {
	padding: 0px;
	border-color: white;
}


/*
*  Styles for Site Notice (Header)
*/
div.mailtolist {
	text-align: center;
	margin-top: 10px;
}


/*
*  Styling of 'warning' messages .
*/
div.warning-message {
    display:grid;
    border: 1px solid #d47a7a;
    margin-bottom: 15px;
}

/* Content of the message */
div.warning-message > div {
  padding: 5px;
}

/* Panel bar */
div.warning-message:before {
  content: "Warning";
  display: block;
  color: #ce0909;
  background-color:#264c93;
  border-bottom:1px solid #d47a7a;
  background-color: #fb9b9b;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  padding: 4px;
}


.navbox-title,
.navbox-abovebelow,
table.navbox th {
	text-align: center;      /* Title and above/below styles */
	padding-left: 1em;
	padding-right: 1em;
}
.navbox-group {            /* Group style */
	white-space: nowrap;
	text-align: right;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
}
.navbox, .navbox-subgroup {
	background: #fdfdfd;     /* Background color */
}
.navbox-list {
	border-color: #fdfdfd;   /* Must match background color */
}
.navbox-title,
table.navbox th {
	background: #ccccff;     /* Level 1 color */
}
.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
	background: #ddddff;     /* Level 2 color */
}
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
	background: #e6e6ff;     /* Level 3 color */
}
.navbox-even {
	background: #f7f7f7;     /* Even row striping */
}
.navbox-odd {
	background: transparent; /* Odd row striping */
}
 
.collapseButton {          /* 'show'/'hide' buttons created dynamically */
	float: right;          /* by the CollapsibleTables javascript in    */
	font-weight: normal;   /* [[MediaWiki:Common.js]]are styled here    */
	text-align: right;     /* so they can be customised.                */
	width: auto;
}
.navbox .collapseButton {  /* In navboxes, the show/hide button balances */
	width: 6em;            /* the vde links from [[Template:Tnavbar]],   */
}                          /* so they need to be the same width.         */


div.panel {
  border:1px solid #989ea5;
}

/* panel title */
div.panel > div:first-child {
  border-bottom:1px solid #989ea5;
	background-color:#90bdde;
  color:#2a5382;
  text-align:left;
  font-size: 12pt;
  font-weight:bold;
  padding:4px;
}

/* panel body */
div.panel > div:nth-child(2) {
  padding:5px;
}

/* center all Table Layout tables inside of panels */
div.panel > div:nth-child(2) > table {
  margin: auto;
}


/*
* Styling of Panel Column layout
*/
div.panelcolumn {
  display: flex;
  flex-flow: column;
  vertical-align: top;
}

div.panelcolumn > div.panel {
    margin-bottom: 10px;
}


/*
*  Styling of Properties Layout
*/
table.pivottable {
  table-layout:fixed;
  /*width:100%;
  max-width:100%;*/
}


table.pivottable > tbody > tr:nth-child(2) {
	vertical-align:top;
}


/*
*  Overarching style for Portal Layout.
*  Individual grid cells are styled using 'panel' class defined in panel.css
*/
div.portal {
  width: auto;
  overflow: hidden;
}

div.portal > table {
  width: 100%;
	border: 0px;
	table-layout:fixed;
	border-spacing: 10px;
}

div.portal > table > tbody > tr > td {
  padding: 0px;
	vertical-align: top;
}

div.portal > table > tbody > tr > td.panelcell {
	border:1px solid #949596;
	background-color: #FFFFFF;
}

td.panelcell > div.panel {
  border: 0px !important; /* Avoid double borders from table and panel*/
}


/*
*  Styling of Properties Layout
*/
table.properties {
}

table.properties > tbody > tr {
  vertical-align:top;
}

table.properties > tbody > tr > th:first-child {
	max-width:150px;
	text-align:right;
	padding-right: 10px;
  padding-left: 5px;
}

table.properties > tbody > tr > td:nth-child(2) {
	padding-top: 0px;
}


/*
*  Styles for Site Notice (Header)
*/
div.siteheader {
	width: 100%;
	border:1px solid #A00000;
	background-color: #66CDAA;
	font-size:120%;
	font-weight: bold;
}


/* Allow limiting of which header levels are shown in a TOC;
   <div class="toclimit-3">, for instance, will limit to
   showing ==headings== and ===headings=== but no further
   (as long as there are no =headings= on the page, which
   there shouldn't be according to the MoS).
 */
.toclimit-2 .toclevel-2,
.toclimit-3 .toclevel-3,
.toclimit-4 .toclevel-4,
.toclimit-5 .toclevel-5,
.toclimit-6 .toclevel-6,
.toclimit-7 .toclevel-7 { display: none; }


/*
*  Overwrite default MediaWiki skin
*/
.mw-body-content {
	font-size: 9pt;   /* make font smaller */
}


/*
*  Styling of standard table
*/
table.wikitable,
table.prettytable {
	margin: 3px;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}
.wikitable th, .wikitable td,
.prettytable th, .prettytable td {
	border: 1px #aaa solid;
	padding: 0.2em;
}
.wikitable th,
.prettytable th {
	background: #f2f2f2;
	text-align: center;
}
.wikitable caption,
.prettytable caption {
	font-weight: bold;
}


