/*
*  Styling of Table without any borders
*/
table.cleartable {
	margin: 1em 0em;
	background: #fff;
	border: 1px #333 solid;
	border-collapse: collapse;
}
.cleartable th {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	border: 1px #333 solid;
	padding: 0em 0.4em;
}
.cleartable tr {
	vertical-align: top;
	text-align: left;
}
.cleartable td {
	border: 1px #333 solid;
	padding: 0em 0.4em;
}
.cleartable caption {
	font-weight: bold;
}
