/*
*  greytable class for skinning tables with shades of grey
*/
table.greytable {
	margin: 1em 0em;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}
.greytable th {
	vertical-align: top;
	background: #f2f2f2;
	text-align: left;
	font-weight: bold;
	border: 1px #aaa solid;
	padding: 0em 0.4em;
}
.greytable tr {
	vertical-align: top;
	background: #f9f9f9;
	text-align: left;
}
.greytable td {
	border: 1px #aaa solid;
	padding: 0em 0.4em;
}
.greytable caption {
	font-weight: bold;
}
