/*
*  Overarching style for Grid Layout.
*  Individual grid cells are styled using 'panel' class defined in panel.css
*/
div.grid {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 10px; -> would be preferrable solution, but is not supported by IE, thus use margins below */

  /* For Internet Explorer 10 and 11 -> using old specification, not compatible with current one */
	display: -ms-grid;
	-ms-grid-columns: (1fr)[2];
}


/*
 * Space grid items. Preferrably grid-gap should be used, but since it is not supported by IE, use margins
 */
div.grid > .panel {
	margin: 5px;
}
