/*
*  Styling of 'warning' messages .
*/
div.warning-message {
    display:grid;
    border: 1px solid #d47a7a;
    margin-bottom: 15px;
}

/* Content of the message */
div.warning-message > div {
  padding: 5px;
}

/* Panel bar */
div.warning-message:before {
  content: "Warning";
  display: block;
  color: #ce0909;
  background-color:#264c93;
  border-bottom:1px solid #d47a7a;
  background-color: #fb9b9b;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  padding: 4px;
}
