.navbox-title,
.navbox-abovebelow,
table.navbox th {
	text-align: center;      /* Title and above/below styles */
	padding-left: 1em;
	padding-right: 1em;
}
.navbox-group {            /* Group style */
	white-space: nowrap;
	text-align: right;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
}
.navbox, .navbox-subgroup {
	background: #fdfdfd;     /* Background color */
}
.navbox-list {
	border-color: #fdfdfd;   /* Must match background color */
}
.navbox-title,
table.navbox th {
	background: #ccccff;     /* Level 1 color */
}
.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
	background: #ddddff;     /* Level 2 color */
}
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
	background: #e6e6ff;     /* Level 3 color */
}
.navbox-even {
	background: #f7f7f7;     /* Even row striping */
}
.navbox-odd {
	background: transparent; /* Odd row striping */
}
 
.collapseButton {          /* 'show'/'hide' buttons created dynamically */
	float: right;          /* by the CollapsibleTables javascript in    */
	font-weight: normal;   /* [[MediaWiki:Common.js]]are styled here    */
	text-align: right;     /* so they can be customised.                */
	width: auto;
}
.navbox .collapseButton {  /* In navboxes, the show/hide button balances */
	width: 6em;            /* the vde links from [[Template:Tnavbar]],   */
}                          /* so they need to be the same width.         */
